/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
    /* shared styles responsive */
    .container{
        max-width: 100%;
        padding: 0 10px;
    }
    .btn-primary{
        font-size: 1rem;
        font-weight: 500;
        padding: 10px 20px;
    }
    /* header  */
    nav{
        flex-direction: column;
        gap: 10px;
    }
    .menu{
        margin-left: 0;
    }
    .menu ul{
        flex-direction: column;
        gap: 5px;
    }
    .logo{
        margin-left: -125px;
    }
 }

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
    /* shared styles responsive */
    .container{
        max-width: 540px;
    }
    .btn-primary{
        font-size: 1rem;
        font-weight: 500;
        padding: 15px 25px;
    }
    /* header  */
    nav{
        flex-direction: column;
        gap: 20px;
    }
    .menu{
        margin-left: 0;
    }
    .logo{
        margin-left: -125px;
    }
 }

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
    /* shared styles responsive */
    .container{
        max-width: 720px;
    }
    /* header  */
    nav{
        flex-direction: column;
        gap: 20px;
    }
    .menu{
        margin-left: 0;
    }
    .logo{
        margin-left: -125px;
    }
 }

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
    /* shared styles responsive */
    .container{
        max-width: 960px;
    }
 }

/* Extra large devices (desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) { 
    /* shared styles responsive */
    .container{
        max-width: 1140px;
    }
 }

/*Extra extra large devices (large desktops, 1400px and up)*/
@media (min-width: 1400px) { 
    /* shared styles responsive */
    .container{
        max-width: 1320px;
    }
 }