/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
    /* shared styles responsive */
    .container{
        max-width: 100%;
        padding: 0 10px;
    }
    .btn-primary{
        font-size: 1rem;
        font-weight: 500;
        padding: 10px 20px;
    }
    .section-header{
        width: 300px;
    }
    .section-title{
        font-size: 2rem;
        line-height: 40px;
    }
    .section-desc{
        margin: 0 0 30px;
    }
    /* header  */
    nav{
        flex-direction: column;
        gap: 10px;
    }
    .menu{
        margin-left: 0;
    }
    .menu ul{
        flex-direction: column;
        gap: 5px;
    }
    .logo{
        margin-left: -125px;
    }
    /* banner  */
    .banner{
        height: 400px;
    }
    .banner-content{
        padding: 0;
    }
    .banner-content h1{
        font-size: 2.2rem;
        line-height: 42px;
    }
    .banner-content p{
        margin: 15px 0 30px;
    }
    input[type="search"] {
        width: 180px;
        padding: 8px;
        font-size: 1rem;
    }
    /* practice  */
     .practice{
        margin-bottom: 60px;
    }
    .practice-item-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .practice-item-content{
        padding: 0 30px;
    }
    .item-img{
        left: 100px;
    }
    .item-icon{
        left: 125px;
        bottom: 35px;
    }
    .item-2{
        border-right: 1px solid transparent;
    }
    .item-3{
        border-right: 1px solid #E7E7E7;
    }
    .item-4{
        border-bottom: 1px solid #E7E7E7;
    }
    .item-5{
        border-left: 1px solid transparent;
    }
    /* testimonial */
    .testimony{
        margin-bottom: 60px;
    }
    .test-container {
        height: 440px;
        padding: 40px 30px;
    }
    .padd{
        padding-top: 15px;
        font-size: 0.8rem;
        line-height: 1.3rem;
    }
    /* faq  */
    .faq{
        margin-bottom: 60px;
    }
    .faq-container{
        gap: 30px;
        flex-direction: column-reverse;
    }
    .faq-item{
        width: 100%;
    }
    /* contact  */
    /* contact  */
    .contact{
        margin-bottom: 60px;
    }
    .contact-container{
        flex-direction: column;
    }
    .contact-left-item{
        width: 260px;
        height: 260px;
    }
    .contact-left{
        display: block;
    }
    .contact-left-item{
        margin-bottom: 10px;
    }
    input[type="text"], input[type="email"], #message, .btn-send{
        width: 260px;
        padding: 5px 15px;
    }
    /* footer  */
    .footer-content{
       grid-template-columns: repeat(1, 1fr);
       gap: 50px;
       padding: 50px 10px;
    }
    .footer-div-1, .footer-div-2, .footer-div-3, .footer-div-4 {
        width: 100%;
    }
    #subscribe{
        display: inline;
        width: 230px;
        height: 50px;
    }
    .ft-btn{
        margin-left: 0;
        padding: 15px 20px;
    }
 }

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
    /* shared styles responsive */
    .container{
        max-width: 540px;
    }
    .btn-primary{
        font-size: 1rem;
        font-weight: 500;
        padding: 15px 25px;
    }
    .section-header{
        width: 470px;
    }
    .section-title{
        line-height: 40px;
    }
    /* header  */
    .header{
        margin-bottom: 80px;
    }
    nav{
        flex-direction: column;
        gap: 20px;
    }
    .menu{
        margin-left: 0;
    }
    .logo{
        margin-left: -125px;
    }
    /* banner  */
    .banner{
        height: 400px;
    }
    .banner-content{
        padding: 0 20px;
    }
    .banner-content h1{
        font-size: 2.8rem;
        line-height: 54px;
    }
    .banner-content p{
        margin: 15px 0 30px;
    }
    input[type="search"] {
        width: 375px;
        padding: 13px;
    }
     /* practice  */
     .practice{
        margin-bottom: 60px;
    }
    .practice-item-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .practice-item-content{
        padding: 0 30px;
    }
    .item-img{
        left: 100px;
    }
    .item-icon{
        left: 115px;
        bottom: 35px;
    }
    .item-2{
        border-right: 1px solid transparent;
    }
    .item-3{
        border-right: 1px solid #E7E7E7;
    }
    .item-4{
        border-bottom: 1px solid #E7E7E7;
    }
    .item-5{
        border-left: 1px solid transparent;
    }
    /* testimonial */
    .testimony{
        margin-bottom: 60px;
    }
    .test-container {
        height: 440px;
        padding: 40px 30px;
    }
    /* faq  */
    .faq{
        margin-bottom: 60px;
    }
    .faq-container{
        gap: 30px;
        flex-direction: column-reverse;
    }
    .faq-item{
        width: 100%;
    }
   /* contact  */
    .contact{
        margin-bottom: 60px;
    }
    .contact-container{
        flex-direction: column;
    }
    .contact-left-item{
        width: 260px;
        height: 260px;
    }
    input[type="text"], input[type="email"], #message, .btn-send{
        width: 525px;
    }
    /* footer  */
    .footer-content{
       grid-template-columns: repeat(2, 1fr);
       gap: 50px;
    }
    .footer-div-1, .footer-div-2, .footer-div-3, .footer-div-4 {
        width: 240px;
    }
    #subscribe{
        display: block;
        width: 230px;
        height: 50px;
    }
    .ft-btn{
        margin-left: 0;
        padding: 15px 20px;
    }
 }

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
    /* shared styles responsive */
    .container{
        max-width: 720px;
    }
    .section-header{
        width: 610px;
    }
    /* header  */
    nav{
        flex-direction: column;
        gap: 20px;
    }
    .menu{
        margin-left: 0;
    }
    .logo{
        margin-left: -125px;
    }
    /* banner  */
    .banner{
        height: 400px;
    }
    .banner-content{
        padding: 0 20px;
    }
    .banner-content h1{
        font-size: 3rem;
        line-height: 54px;
    }
    .banner-content p{
        margin: 20px 0 35px;
    }
    input[type="search"] {
        width: 450px;
    }
     /* practice  */
     .practice{
        margin-bottom: 80px;
    }
    .practice-item-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .practice-item-content{
        padding: 0 30px;
    }
    .item-img{
        left: 135px;
    }
    .item-icon{
        left: 155px;
        bottom: 70px;
    }
    .item-2{
        border-right: 1px solid transparent;
    }
    .item-3{
        border-right: 1px solid #E7E7E7;
    }
    .item-4{
        border-bottom: 1px solid #E7E7E7;
    }
    .item-5{
        border-left: 1px solid transparent;
    }
    /* testimonial */
    .testimony{
        margin-bottom: 80px;
    }
    .test-container {
        height: 470px;
        padding: 55px 70px;
    }
    /* faq  */
    .faq{
        margin-bottom: 80px;
    }
    .faq-container{
        gap: 30px;
        flex-direction: column-reverse;
    }
    .faq-item{
        width: 100%;
    }
    /* contact  */
    .contact-container{
        flex-direction: column;
    }
    /* footer  */
    .footer-content{
       grid-template-columns: repeat(2, 1fr);
       gap: 50px;
    }
    .footer-div-1, .footer-div-2, .footer-div-3, .footer-div-4 {
        width: 260px;
    }
    #subscribe{
        display: block;
    }
    .ft-btn{
        margin-left: 0;
    }
 }

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
    /* shared styles responsive */
    .container{
        max-width: 960px;
    }
    /* banner  */
    .banner-content{
        padding: 60px 120px;
    }
     /* practice  */
     .practice{
        margin-bottom: 100px;
    }
    .practice-item-content{
        padding: 0 30px;
    }
    .item-img{
        left: 120px;
    }
    .item-icon{
        left: 145px;
        bottom: 70px;
    }
    /* faq  */
    .faq-container{
        gap: 30px;
    }
    .faq-item{
        width: 500px;
    }
    /* contact  */
    .contact-container{
        flex-direction: column;
    }
    /* footer  */
    .footer-content{
       grid-template-columns: repeat(2, 1fr);
       gap: 50px;
       
    }
    .footer-div-1, .footer-div-2, .footer-div-3, .footer-div-4 {
        width: auto;
    }
    .footer-div-4{
        width: 260px;
    }
    #subscribe{
        display: block;
    }
    .ft-btn{
        margin-left: 0;
    }
 }

/* Extra large devices (desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) { 
    /* shared styles responsive */
    .container{
        max-width: 1140px;
    }
    /* practice  */
    .item-img{
        left: 150px;
    }
    .item-icon{
        left: 175px;
    }
    /* faq  */
    .faq-container{
        gap: 30px;
    }
    /* footer  */
    .footer-content{
        gap: 50px;
    }
    .footer-div-4{
        width: 260px;
    }
    #subscribe{
        display: block;
    }
    .ft-btn{
        margin-left: 0;
    }
 }

/*Extra extra large devices (large desktops, 1400px and up)*/
@media (min-width: 1400px) { 
    /* shared styles responsive */
    .container{
        max-width: 1320px;
    }
 }