/* font links */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* shared styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #B68C5A;
    --dark-1: #111111;
    --dark-2: #414040;
    --dark-3: #707070;
}

.eb-garamond{
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    font-style: normal;
    line-height: 1.625rem;
    color: var(--dark-3);
}
.container{
    max-width: 1170px;
    margin: 0 auto;
}
.btn-primary{
    font-size: 1.125rem;
    font-weight: 600;
    color: white;
    padding: 20px 30px;
    background-color: var(--primary-color);
    border-radius: 8px;
    transition: all .33s ease-in-out;
}
.btn-primary:hover{
    background-color: transparent;
    color: var(--dark-2);
    border: 1px solid var(--primary-color);
}
.section-title{
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--dark-2);
    text-align: center;
}
.section-desc{
    text-align: center;
    margin: 25px 0 65px;
    padding: 25px 0;
}
.section-header{
    width: 715px;
    margin: 0 auto;
}
/* header styles */
.header{
    margin-bottom: 105px;
}
nav{
    margin: 50px 0;
}
.logo{
    width: 45px;
    height: 45px;
}
.logo span{
    font-size: 2.1875rem;
    font-weight: bolder;
    color: var(--dark-2);
}
.menu{
    margin-left: 130px;
}
.menu ul li a{
    color: var(--dark-3);
}
.menu ul li a i{
    padding-left: 5px;
}
/* banner  */
.banner{
    background-image: url('../images/banner.png'), linear-gradient(to right, black, grey);
    height: 550px;
}
.banner-content{
    padding: 105px 240px;
}
.banner-content h1{
    font-size: 4.5rem;
    font-weight: bolder;
    line-height: 85px;
    color: white;
}
.banner-content p{
    margin: 25px 0 40px;
}
input[type="search"] {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 500px;
    outline-color: var(--primary-color);
}
/* practice  */
.practice{
    margin-bottom: 120px;
}
.practice-item-content{
    padding: 0 55px;
    position: absolute;
    top: 165px;
}
.practice-item{
    height: 500px;
    position: relative;
}
.item-1, .item-3{
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid #E7E7E7;
    border-left: 1px solid transparent;
    transition: all .33s linear;
}
.item-2{
    border-top: 1px solid transparent;
    border-right: 1px solid #E7E7E7;
    border-bottom: 1px solid #E7E7E7;
    border-left: 1px solid #E7E7E7;
    transition: all .33s linear;
}
.item-4, .item-6{
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
    transition: all .33s linear;
}
.item-5{
    border-top: 1px solid #E7E7E7;
    border-right: 1px solid #E7E7E7;
    border-bottom: 1px solid transparent;
    border-left: 1px solid #E7E7E7;
    transition: all .33s linear;
}
.item-1:hover{
    border: 1px solid #E7E7E7;
    background-image: linear-gradient(to bottom, #f3f3f3, #ffffff);
}
.item-2:hover{
    border: 1px solid #E7E7E7;
    background-image: linear-gradient(to bottom, #f3f3f3, #ffffff);
}
.item-3:hover{
    border: 1px solid #E7E7E7;
    background-image: linear-gradient(to bottom, #f3f3f3, #ffffff);
}
.item-4:hover{
    border: 1px solid #E7E7E7;
    background-image: linear-gradient(to bottom, #f3f3f3, #ffffff);
}
.item-5:hover{
    border: 1px solid #E7E7E7;
    background-image: linear-gradient(to bottom, #f3f3f3, #ffffff);
}
.item-6:hover{
    border: 1px solid #E7E7E7;
    background-image: linear-gradient(to bottom, #f3f3f3, #ffffff);
}
.item-img{
    position: absolute;
    top: 55px;
    left: 180px;
}
.practice-item-content h3{
    font-size: 2rem;
    font-weight: bolder;
    color: var(--dark-2);
    margin: 0 0 25px;
}
.item-icon{
    position: absolute;
    bottom: 85px;
    left: 200px;
}
/* testimony */
.testimony{
    margin-bottom: 120px;
}
.test-container{
    height: 500px;
    padding: 95px 135px;
}
.test-content h4{
    font-size: 1.5rem;
    font-weight: bolder;
    color: white;
    padding-top: 24px;
}
.padd{
    padding-top: 30px;
}
/* faq */
.faq{
    margin-bottom: 120px;
}
.faq-item{
    width: 570px;
    height: 100px;
    background-color: #F3F3F3;
    margin-bottom: 30px;
    border-radius: 8px;
}
.faq-item h3{
    padding: 35px;
    font-size: 1.5rem;
    font-weight: bolder;
    color: var(--dark-2);
}

/* contact us  */
.contact{
    margin-bottom: 120px;
}
.contact-left-item{
    width: 285px;
    height: 285px;
    background-color: #F3F3F3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-left-item-content{
    width: 165px;
    height: 155px;
}
.contact-left-item-content h3{
    font-size: 1.5rem;
    font-weight: bolder;
    color: var(--dark-2);
    padding: 16px 0;
}
.left-1{
    border-right: 1px solid #CFCFCF;
    border-bottom: 1px solid #CFCFCF;
}
.left-4{
    border-top: 1px solid #CFCFCF;
    border-left: 1px solid #CFCFCF;
}
input[type="text"], input[type="email"]{
    display: block;
    width: 570px;
    height: 72px;
    background-color: #F3F3F3;
    margin-bottom: 30px;
    padding: 23px;
    border-radius: 8px;
    outline-color: var(--primary-color);
}
#message{
    display: block;
    width: 570px;
    height: 162px;
    background-color: #F3F3F3;
    margin-bottom: 30px;
    padding: 23px;
    border-radius: 8px;
    outline-color: var(--primary-color);
}
.btn-send{
    width: 570px;
}
/* footer  */
footer{
    background-color: var(--dark-1);
    height: 506px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-content{
    height: 270px;
    margin: 0 auto;
    gap: auto;
}
.ft-title{
    font-family: "EB Garamond", serif;
    font-size: 1.5rem;
    font-weight: bolder;
    color: white;
    padding-bottom: 45px;
}
.footer-div-1{
    width: 260px;
}
.footer-div-2{
    width: 127px;
}
.footer-div-3{
    width: 216px;
}
.footer-div-4{
    width: 324px;
}
.footer-div-1 p{
    color: white;
    padding-top: 30px;
}
.footer-div-2 ul li{
    padding-bottom: 5px;
}
.footer-div-2 ul li a{
    color: white;
}
.footer-div-3 p{
    color: white;
    padding-bottom: 15px;
}
.footer-div-4 p{
    color: white;
    margin-bottom: 20px;
}
#subscribe{
    display: inline;
    width: 252px;
    height: 72px;
}
.ft-btn{
    width: 72px;
    height: 72px;
    margin-left: -15px;
    padding: 25px 30px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 8px;
}
.ft-btn:hover{
    background-color: #ff8c00;
}